{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <div class="large-border">
        <div class="top-border">
            <div class="img-border"></div>
            <div class="button-container">
                <a class="button-class" href="{% url 'home' %}">Home</a>
                <a class="button-class" href="{% url 'about' %}">About us</a>
                <a class="button-class" href="{% url 'products' %}">Products</a>
                <a class="button-class" href="{% url 'basket' %}">Basket</a>
                <a class="button-class" href="{% url 'login' %}">Logout</a>
            </div>
        </div>

        <div class="basket-border-main">
            <div class="basket-border-top">
                Your chose products:
            </div>
            <div class="basket-border-bottom">
                <ul>
                    {% for item in basket.values %}
                        <li>{{ item.title }} - ${{ item.price }} - Quantity: {{ item.quantity }}</li>
                    {% endfor %}
                </ul>
<!--                <a href="{% url 'products' %}">Continue Shopping</a>-->
            </div>
            <button class="button-order" type="button" id="order_create">Create order</button>
        </div>

    </div>
</body>
</html>
<script src="{% static '/js/script.js' %}"></script>
