{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <div class="large-border">
        <div class="top-border">
            <div class="img-border"></div>
            <div class="button-container">
                <a class="button-class" href="{% url 'home' %}">Home</a>
                <a class="button-class" href="{% url 'about' %}">About us</a>
                <a class="button-class" href="{% url 'products' %}">Products</a>
                <a class="button-class" href="{% url 'basket' %}">Basket</a>
                <a class="button-class" href="{% url 'login' %}">Logout</a>
            </div>
        </div>
    </div>
</body>
</html>
