{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <div class="large-border">
        <div class="top-border">
            <div class="img-border"></div>
            <div class="button-container">
                <div class="button-class">Pizza</div>
                <div class="button-class">Sushi</div>
                <div class="button-class">Drinks</div>
                <div class="button-class">About us</div>
                <div class="button-class">Logout</div>
            </div>
        </div>
    </div>
</body>
</html>
